.organization {
    width: 90%;
    margin: 5%;

    .organization-tab {
        margin-top: 5%;
    }

    @media only screen and (min-width: 401px) {
        .card {
            button {
                width: 20%;
            }
        }
    }
}