.authentication {

    padding-top: 0%;
    margin: 10%;

    .card {
        button {
            height: 10%;
            width: 60%;
            margin-bottom: 5%;
        }
    }

    .authentication-link {
        margin-top: 5%;
        font-size: 1rem;
    }

    .card {
        padding-top: 2%;
    }
}